{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | PetAdote Admin{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/petadote_admin.css' %}">
{% endblock %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}" class="admin-brand">
            <span class="admin-brand-mark"></span>
            <span>pet<strong>adote</strong> <small>Admin</small></span>
        </a>
    </div>
{% endblock %}

{% block nav-global %}
    <a href="{% url 'home' %}" class="admin-view-site">Ver site</a>
{% endblock %}
